<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/arthurzer/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="arthurzer" />
            <add key="ClearTextPassword" value="0167fabff863574cfd88d21c967360fd100eedb1" />
        </github>
    </packageSourceCredentials>
</configuration>